---
---

@import "type-on-strap";

@counter-style thai-alphabetic {
	system: alphabetic;
	symbols: '\E01' '\E02' '\E04' '\E06' '\E07' '\E08' '\E09' '\E0A' '\E0B' '\E0C' '\E0D' '\E0E' '\E0F' '\E10' '\E11' '\E12' '\E13' '\E14' '\E15' '\E16' '\E17' '\E18' '\E19' '\E1A' '\E1B' '\E1C' '\E1D' '\E1E' '\E1F' '\E20' '\E21' '\E22' '\E23' '\E25' '\E27' '\E28' '\E29' '\E2A' '\E2B' '\E2C' '\E2D' '\E2E'; /* symbols: 'ก' 'ข' 'ค' 'ฆ' 'ง' 'จ' 'ฉ' 'ช' 'ซ' 'ฌ' 'ญ' 'ฎ' 'ฏ' 'ฐ' 'ฑ' 'ฒ' 'ณ' 'ด' 'ต' 'ถ' 'ท' 'ธ' 'น' 'บ' 'ป' 'ผ' 'ฝ' 'พ' 'ฟ' 'ภ' 'ม' 'ย' 'ร' 'ล' 'ว' 'ศ' 'ษ' 'ส' 'ห' 'ฬ' 'อ' 'ฮ'; */
	prefix: '(';
	suffix: ') ';
}

body { font-family: 'Noto Sans Light','Noto Sans CJK JP Light','CutiaORN' !important; font-size: 24px !important; }
.indent-paragraph > p { text-indent: 2em; }
p, ol, ul, dl, .math-display { line-height: 2; }
div.thai-numeral-list ol { list-style-type: thai; }
div.thai-alphabetic-list ol { list-style-type: thai-alphabetic; }
.diff { text-decoration: underline currentColor wavy 1px; text-underline-offset: 0.1em; }
.ex-header { font-size: 0.8em; }
.big { font-size: 2em; }
.source-big { font-size: 1em; } /* ตรงที่ต้นฉบับทำตัวใหญ่ แต่ render แบบปัจจุบันไม่ใหญ่ก็ได้ */
.underline { text-decoration: underline; text-underline-offset: 0.1em; }
.title-center { text-align: center; }
.signature-text { text-align: right; }
.big-space { padding: 0 1.2em; }
.indent p:not(:first-of-type) { text-indent: 2em; } /* ย่อหน้าทั้งหมดยกเว้น <p> แรกที่เป็นคำว่า "ตัวอย่าง" */

/*h2 { border-bottom: 1px solid currentColor; }*/
.table_no_header th:empty { display: none; }
th, td { border: none !important; }

.poem { position: relative; } /* ทำให้บทกวีทั้งหมดเป็นก้อนสี่เหลี่ยม ลอยอยู่กลางหน้า */
.wak { display: inline; position: absolute; } /* ใช้บรรทัดนี้ถ้าต้องการให้บรรทัดละ 2 วรรค */
.wak:nth-child(1) { left: 0; } /* ขอบซ้ายของวรรคซ้ายของแต่ละบาท */
.wak:nth-child(2) { left: 25%; } /* ขอบซ้ายของวรรคขวาของแต่ละบาท; ช่องว่างระหว่างวรรคขยายได้เล็กน้อยตาม viewport ที่ใหญ่ขึ้น */
/*.wak { display: block; } .bot br { display: none; } /* ใช้บรรทัดนี้ถ้าต้องการให้บรรทัดละวรรค */
.stanza .line:first-of-type .wak:first-of-type { text-indent: 1em; } /* ย่อหน้าวรรคแรกสุดของบท */
/*.markdown-preview > p { text-align: justify; }
h2, h3 { text-align: center; }*/
.poem.first .stanza .line:first-of-type .wak:first-of-type::before { content: '๏'; margin-right: 1.5em; }
.poem.last .stanza .line:last-of-type .wak:last-of-type::after { content: '๚'; margin-left: 1.5em; }